$bodyWidth: calc(100vw - var(--sidebar-width-collapse));
._dashboard_container_body {
  width: $bodyWidth;
  margin-left: var(--sidebar-width-collapse);
}

$bodyWidthExpand: calc(100vw - var(--sidebar-width-expand));
._dashboard_container_body_expand {
  width: $bodyWidthExpand;
  margin-left: var(--sidebar-width-expand);
}
