.customTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: auto;

  .dynamicColumn {
    min-width: 80vw;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    padding-inline: 5px;
  }
  .column {
    padding: 1rem 0rem;
    font-weight: 500;
  }

  .alerts {
    white-space: nowrap;
    .alertColumn {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10rem;
    }
  }
}
