.customTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  width: auto;

  .column {
    padding: 1rem 0rem;
    border-top: 1px solid grey;
  }
}
