.customTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: auto;

  .dynamicColumn {
    max-width: 300px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [class~="p-multiselect-label-container"] {
      opacity: 0;
    }
  }

  .header {
    padding-inline: 5px;
  }
  .column {
    padding: 1rem 0rem;
    font-weight: 500;
  }

  .alerts {
    white-space: nowrap;
    .alertColumn {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10rem;
    }
  }
}

.table_headerStyle {
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.table_header_filter {
  display: flex;
  align-items: center;
  gap: var(--inline-spacing);
}

.tableClassName {
  border: var(--border);
}
