:root {
  --font-size: 14px;
  --backround: var(--surface-100);
  //Navbar
  --navbar-height: 60px;
  // Sidebar
  --sidebar-width-collapse: 60px;
  --sidebar-width-expand: 200px;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  line-height: 1.25rem;
  letter-spacing: 0.00938em;
}

.Page_Heading {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--surface-400);
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.hidden{
  visibility: hidden;
}