.sidebar_container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
}


.sidebar_content_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.sidebar_logo_visibility {
  transition: all;
  transition-duration: 200;
  transition: all 0.1s ease-in-out;
}
.sidebar_logo_expand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  // border: 2px solid rgba(0,0,0);
  height: 5rem;
  transition: all 0.1s ease-in-out;
}
.sidebar_logo {
  display: flex;
  justify-content: center;
  padding: 12px;
  // border: 2px solid rgba(0,0,0);
  transition: all 0.1s ease-in-out;
}

.explore_text {
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.sidebar_menu_container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  transition: all 0.1s ease-in-out;
  a {
    text-decoration: none;
    color: grey;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: var(--primary-color);
    }
  }
  margin-left: 5px;
}

// .sidebar_menu_container_close {
//   justify-content: center;
//   align-items: center;
// }

.sidebar_menu_container_open {
  // margin-right: 12px;
  // margin-left: 12px;
  transition: all 0.1s ease-in-out;
}

.sidebar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // border: 2px solid black;
  margin-top: -5px;
  transition: all 0.1s ease-in-out;
}
.sidebar_menu_open {
  margin-top: -5px;
}

.sidebar_section {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.menulist_open {
  // padding: 5px 2px;
  padding: 10px;
  display: flex;
  text-align: left;
  // margin-right: 8px;
  // margin-left: 8px;
  transition: all 0.1s ease-in-out;
}
.menulist_close {
  padding: 10px;
}

.menulist_text {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 3;
  // border: 2px solid black;
  p {
    text-decoration: none;
    font-weight: 500;
    // color: yellow;
    &hover {
      color: var(--primary-color);
    }
  }
  transition: all 0.1s ease-in-out;
}

.menulist_text_active {
  color: var(--primary-color);
  transition: all 0.1s ease-in-out;
}

.icon_container {
  flex: 1;

  svg {
    width: 25px;
    height: 25px;
  }
}

.icon_active {
  svg {
    color: var(--primary-color);
  }
}

.direction_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltip_container {
  align-self: flex-end;
}


.toggle_dot {
  border: 2px solid var(--primary-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
  }
}

.toggle_dot_open {
  background-color: blue;
}

.sidebar_div {
  transition: all 0.1s ease-in-out !important;
}

.submenu_container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

.submenu {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.1s ease-in-out;
}

.nested_link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  p{
    color: grey;

    &:hover{
      color:var(--primary-color);
    }
  }
}

.nested_sidebar_components{
  // visibility: hidden;
  transition: all 0.1s ease-in-out;
  overflow-y: hidden;
}

.nestedIcon{
    width: 40px;
}