.page_wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    // height: auto;
    padding: 2rem 0rem;
    gap: 1rem;

    .information_wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .information_leftSide_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            gap: 2rem;
            width: 100%;
        }

        .information_rightSide_wrapper {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100vh;
            padding: 1rem;
            border: 1px solid var(--gray-300);
            border-radius: 0.3rem;
        }
    }
}

.description_names {
    display: flex;
    align-items: center;
    padding-top: 0.35rem;
    gap: 2rem;

    .description_values {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 50%;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-weight: 600;
    padding-bottom: 1rem;
}

.wrapper_left {
    display: flex;
    padding: 1rem;
    width: 65vh;
    flex-direction: column;
    border: 1px solid var(--gray-300);
    border-radius: 0.3rem;
}
